@{
    Layout = "_PortalLayout";
    ViewData["Title"] = "Projects";
}


<div class="flex-row auto-push">
    <h2>Projects</h2>
    <button class="btn btn-blue btn-blue:hover btn-addproject">
        <i class="fa-solid fa-plus"></i>
        Add Projects
    </button>
</div>