@{
	Layout = "_PortalLayout";
	ViewData["Title"] = "Admin";
}
<section id="Admin">
	<header>
		<h2>Admin</h2>
		<button type="button" class="btn btn-blue .btn-blue:hover">
		<i class="fa-solid fa-plus"></i>	Add Project</button>
	</header>
</section>
