@{
	Layout = "_PortalLayout";
	ViewData["Title"] = "Clients";
}
<section id="clients">
	<header>
		<h2>Clients</h2>
		<button type="button" class="btn btn-blue .btn-blue:hover">
		<i class="fa-solid fa-plus"></i>	Add Project</button>
	</header>
</section>
