@{
	Layout = "_PortalLayout";
	ViewData["Title"] = "Team Members";
}
<section id="team-members">
	<header>
		<h2>Team Members</h2>
		<button type="button" class="btn btn-blue .btn-blue:hover">
			<i class="fa-solid fa-plus"></i>	Add Project
		</button>
	</header>
</section>
