@model FileUploadViewModel

@{
	ViewData["Title"] = "Upload";
}

<div class="surface">

	<form asp-action="Upload" method="post" enctype="multipart/form-data">
		<div>
			<label></label>
			<input type="File" name="file" accept="image/*"   class="form-control"/>
			<span asp-validation-for="File"></span>
		</div>

		<button type="submit" class=""></button>

	</form>


</div>