@model WebApp_Uppgift.ViewModels.ProjectDisplayViewModel


<div class="project-card" data-status="@Model.Status.ToLower()">
    <div class="projectlist-header">
        <h6 class="project-title">@Model.ProjectName</h6>
        <span class="project-company">@Model.ClientName</span>
    </div>
    <div class="projectlist-body">
        <span class="project-description">@Model.Description</span>
    </div>
</div>
