<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @(string.IsNullOrEmpty(ViewData["Title"] as string) ? "Project Management" : ViewData["Title"] + " - Project Management")
    </title>

    <script type="importmap"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp_Uppgift.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="portal-layout">
        <div class="logotype">
		    @await Html.PartialAsync("Partial/Components/_Logotype")
        </div>
        <div class="side-menu">
			@await Html.PartialAsync("Partial/Components/_Navlinks")
        </div>
        <div class="top-menu">
			@await Html.PartialAsync("Partial/Components/_Profile")
        </div>
        <div class="main-content">
			@RenderBody()
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
