<nav class="nav-links">
    <a class="nav-link @(Context.Request.Path == "/projects" ? "active" : "")" asp-action="Projects" asp-controller="ProjectManagement">
        <i class="fas fa-suitcase"></i>
        <span>Projects</span>
    </a>
    <a class="nav-link @(Context.Request.Path == "/admin/members" ? "active" : "")" asp-action="Members" asp-controller="Admin">
        <i class="fas fa-user-friends"></i>
        <span>Team Members</span>
    </a>
    <a class="nav-link @(Context.Request.Path == "/admin/clients" ? "active" : "")" asp-action="Clients" asp-controller="Admin">
        <i class="fa-duotone fa-solid fa-handshake"></i>
        <span>Clients</span>
    </a>
    <a class="nav-link @(Context.Request.Path == "/admin/admin" ? "active" : "")" asp-action="Admin" asp-controller="Admin">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <span>Admin</span>
    </a>
</nav>
