<div class="top-bar-wrapper">
<a href="#"class="setting-wrapper">
	<img id="setting" src="~/images/Setting.svg" alt="Alternate Text" />
</a>

<a href="#" class="avatar-wrapper">
	<img src="~/images/Avatar_1.svg" alt="Avatar Image">
</a>
</div>